#lala {
    display: flex;
    height: 1000px;
    width: 100%;
    flex-direction: column;
    border: solid red 10px;
    color: red;
}

#header{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 5rem; 
    border: solid yellow 5px;
    height: 33%;
    width: 100%;
    flex: 1;
   
}

#middle{
    border: solid red 5px;
    height: 33%;
    width: 100%;
    flex: 1;
}

#footer{
    border: solid blue 5px;
    height: 34%;
    width: 100%;
    flex: 1;
}